<div style="margin-bottom: 10px">
  <p>
    You are receiving this because you (or someone else) have requested the reset of the password for your account at hungryturtlecode.com.
  </p>
</div>
<div style="margin-bottom: 10px">
  <p>
    Please click on the following link, or paste this into your browser to complete the process:
  </p>
</div>
<div style="margin-bottom: 10px">
  <a href="{{site}}/reset/#!/{{token}}">Reset Password</a>
  <p>
    If the link doesn't work, copy this url directly into your browser:
  </p>
  <p>
    {{site}}/reset/#!/{{token}}
  </p>
</div>
<div style="margin-bottom: 10px">
  <p>
    If you did not request this, please ignore this email and your password will remain unchanged.
  </p>
</div>
